.mobileHeader {
    margin: 0rem 2rem;
    &:hover {
        cursor: pointer;
    }
}
.menu {
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 600;
    background-color: white;
    transition: 200ms ease-in;

    a {
        color: black;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    li {
        padding: 0.5rem 0rem;
        border-bottom: solid lightgray 1px;
        width: 90%;
        transition: 100ms ease-in;
        &:hover {
            transform: translateX(10px);
        }
    }
    i {
        padding-right: 0.5rem;
    }
}

.menuShort {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 600;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 200ms ease-in;
    a {
        color: black;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    li {
        padding: 0.5rem 0rem;
        border-bottom: solid lightgray 1px;
        width: 90%;
        transition: 100ms ease-in;
        &:hover {
            transform: translateX(10px);
        }
    }
    i {
        padding-right: 0.5rem;
    }
}