.toast {
    position: fixed;
    top: 1rem;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    border: solid black 2px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    h3{
        padding: 1rem 4rem;
        font-weight: 300;
        color: black;
    }

}