header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  color: black;
  background-color: #fff;
  transition: 800ms ease-in;
  z-index: 50;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
  }
  .searchButton {
    &:hover {
      cursor: pointer;
    }
  }
  .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      padding: 0.5rem 1rem;
    }
    i {
      padding-right: 0.5rem;
    }
    button {
      padding: 0.5rem 1rem;
      font-family: "Playfair Display", serif;
      background: white;
      border: solid 2px black;
      transition: 300ms ease-in;
      &:hover {
        background: black;
        color: #fff;

      }
      &:hover a {
        color: #fff;
      }
    }
  }
  i {
    font-size: 1.3rem;
  }
}

.searchbar {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 80;
  background: rgba(255, 255, 255, 0.99);
  border-bottom: rgba(0, 0, 0, 0.5) solid 5px;
  transition: 300ms ease-in;
  box-shadow: 4px 4px 4px black;
  opacity: 1;
  input {
    width: 75%;
    max-width: 500px;
    border: solid 1px black;
    border-right: none;
    padding-left: 0.5rem;
  }
  button {
    padding: 0.5rem 1rem;
    font-family: "Playfair Display", serif;
    background: white;
    border: solid 1px black;
    transition: 300ms ease-in;
    &:hover {
      background: black;
      color: #fff;
    }
  }

  .closeBar {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.hideSearchBar {
  transition: 300ms ease-in;
  transform: translateY(-120px);
  opacity: 0;
}

.formModal {
  transition: 300ms ease-in-out;
  top: 4rem;
  right: 250px;
  height: auto;
  border-radius: 20px;
  width: 500px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  border: solid 5px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  .closeModal {
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    font-size: 1.5rem;
    transition: 100ms ease-in;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  form {
    margin: 2rem 3rem;
    position: relative;
    #author {
      padding-left: 0.25rem;
    }
    select {
      border: solid 1px black;
      width: 100%;
      height: 2rem;
      font-family: "Playfair Display", serif;

    }
    textarea {
      border: solid 1px black;
      width: 99%;
      height: 3rem;
      font-family: "Playfair Display", serif;

    }
    input {
      border: solid 1px black;
      border-right: none;
      font-family: "Playfair Display", serif;

    }
    button {
      padding: 0.5rem 1rem;
      font-family: "Playfair Display", serif;
      background: white;
      border: solid 1px black;
      transition: 300ms ease-in;
      &:hover {
        background: black;
        color: #fff;
      }
    }
  }
  .formGroup {
    display: block;
    margin: 0.5rem;
    label {
      display: block;
      padding: 0.5rem 0rem;
    }
    .row {
      display: grid;
      grid-template-columns: 5fr 1fr;
      input {
        width: 100%;
      }
    }
  }
  .tagAnswers {
    height: 75px;
    margin: 1rem 0rem;
    padding: 15px;
    border: solid 1px black;
  }
  .smallTag {
    font-size: 0.9rem;
    display: inline-block;
    padding: 0rem 0.5rem;
    transition: 200ms ease-in;
    line-height: 0rem;
    &:hover::after {
      content: "❌";
      font-size: 0.5rem;
      position: absolute;
    }
    &:hover {
      content: "delete";
      color: red;
      cursor: pointer;
    }
  }
  .imageSample {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.5rem;
    img {
      height: 60px;
      width: 80px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}

.hideModal {
  display: none;
}
