@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap");
$base-color: #636e72;

body {
  font-family: "Playfair Display", serif;
}
.transition-group {
  position: relative;

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
